<div class="container">
  <div class="row">
    <div class="column col-lg-12 col-md-6 col-sm-3">
      <div class="mapouter"><div class="gmap_canvas">
        <iframe width="1500" height="503" id="gmap_canvas"
        src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwl
        oc=&output=embed" frameborder="0" scrolling="no" marginheight="0"
         marginwidth="0"></iframe><a href="https://123movies-to.org">123movies</a>
         <br><style>.mapouter{position:relative;text-align:right;height:503px;width:1240px;}
         </style><a href="https://www.embedgooglemap.net">add google map</a><style>.gmap_canvas
       {overflow:hidden;background:none!important;height:503px;width:1240px;}</style></div></div>
    </div>
  </div>
  <div class="row">
    <div class="column col-lg-6 col-sm-6 col-md-12">
<div class="parent">
  <h1>Get</h1>
  <div class="child">
    <h6>IN Touch</h6>
  </div>
</div>
<form>
  <div class="form-group">
    <label for="name">Your Name</label>
    <input type="text" class="form-control" id="name" >
  </div>
  <div class="form-group">
    <label for="name"> Your Password</label>
    <input type="text" class="form-control" id="name">
  </div>
  <div class="form-group">
    <label for="email"> Your Email</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="subject">Subject</label>
    <input type="text" class="form-control" id="subject">
  </div>
  <div class="form-group">
    <label for="text area" class="text">Leave Your Message</label>
    <textarea class="form-control" id="text area" rows="3"></textarea>
  </div>
  <button type="submit" class=" btn btn-primary my-3">Send</button>
  <!-- address section Start -->
</form>
    </div>
    <div class="column col-lg-5 col-md-6 col-sm-12 px-5" id="address-details">
       <div class="firstparagraph">
        <h2 class="my-5">OUR ADDRESS</h2>
        <div class="firstaddress">
          <h3 class="my-3 font-weight-bold">Alexandria</h3>
          <h5 class="Normal weight text">012- 123456789</h5>
          <p class="Light weight text my-0" >67 2nd House RD Abou Quir, NY, 11954</p>
          <a href="" class="text-decoration-none my-0">iti@woodstock.com</a>
        </div>
        <div class="secondaddress">
          <h3 class="mt-5 mb-3 font-weight-bold">Al- mansoura</h3>
          <h5 class="Normal weight text">012 - 123456789</h5>
          <p class="Light weight text my-0" >2 Hai Algamaa, CA 95014</p>
          <a href="" class="text-decoration-none">iti@woodstock.com</a>
        </div>
       </div>
       <div class="secondparagraph mt-5">
        <h2 clas="mb-5">OPENING HOURS</h2>
        <h5 class="mt-5"><b>Monday to Friday:</b><span class="">10am to 6pm..</span></h5>
        <h5><b>Saturday:</b><span>10am to 4p5..</span></h5>
        <h5><b>Sunday:</b><span>12am t0 4pm..</span></h5>
       </div>
    </div>
  </div>
</div>
