.parent{
  position: relative;
}
h1{
 font-size: 100px;
 font-weight: 700;
 color: #ebeaea;
}
.child{
  position: absolute;
  bottom: 0;
  left: 9px;
}
h6{
  color: rgba(46, 45, 45, 0.9);
  letter-spacing:7px;
  font-weight: 5px;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

/* form start */

label{

  margin: 10px 0 10px 0;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100px;
  font-size: 20px;
}
input{
  background-color: #F7F7F7;
  height: 50px;
}

textarea {

height: 150px;
background-color: #F7F7F7;
}

button{
  background-color: #6990cb;
  width: 85px;
  height: 45px;
}
/* address-details starts */

#address-details{
  background-color: #F7F7F7;
  margin-left: 40px;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

span{
  font-size: large;
  font-family: 'Times New Roman', Times, serif;

}

h5{
  font-family: 'Times New Roman', Times, serif;
}

h2
{
  font-weight: 400px;
  font-size: 35px;
  position: relative;
}

h2::after{
  content: "";
  display: block;
  width:160px;
  height: 3px;
  background: #000;
  position: absolute;
  right: 0;
  top: 50%;
}
