<div class="parent">
  <div class="child">
    <p> Cart :)</p>
  </div>
</div>
<div class="test my-5">
   <div class="container">
    <div class="row">
      <div class="column col-lg-6 col-md-12 col-sm-4 ">
        <table id="product-table" class="table">
          <thead>
            <tr>
              <th>product</th>
              <th>Name</th>
              <th>Price</th>
              <th>quatity</th>
              <th>subtotal</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              <td><img src="assets/images/2.jpg" alt="" /></td>
              <td>
                <h6>{{ item.product.name }}</h6>
              </td>
              <td>{{ item.product.price | currency: "USD" }}</td>
              <td>
                <input
                  type="number"
                  class="form-control"
                  value="{{ item.quantity }}"
                />
              </td>
              <td>$50000</td>
              <td><i class="fa fa-solid fa-trash-can"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- righ card start -->
      <div class="column col-lg-5 col-sm-12 col-md-12">
        <div class="total-cart">
          <h5>CARD Total</h5>
          <table class="table text-center">
            <tbody>
              <tr>
                <td class="border-0">Subtotal</td>
                <td class="border-0">19.147.50$</td>
              </tr>
              <tr>
                <td class="pb-5">shipping</td>
                <td class="pb-5">
                  <ul>
                    <li>
                      <input
                        type="radio"
                        id="radio1"
                        class="px-3"
                        name="radio"
                      />
                      <label class="px-2" for="radio1"
                        >Flat rate:<span><span>$</span>5.00</span></label
                      >
                    </li>
                    <li>
                      <input
                        type="radio"
                        id="radio2"
                        class="px-3"
                        name="radio"
                      />
                      <label class="px-2" for="radio2">Free shipping</label>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="total pt-5 border-0">Total</td>
                <td class="total pt-5 border-0">$19.147.50</td>
              </tr>
              <tr>
                <td colspan="2" class="border-0">
                  <input
                    type="button"
                    value="UPDATE CARD"
                    id="btnone"
                    class="active"
                  />
                  <input
                    type="button"
                    value="PROCEED TO CHECK"
                    id="btntwo"
                    routerLink="/check"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column col-lg-6 col-sm-10 col-md-9 my-5">
        <div class="coupon-box">
          <h5>COUPON</h5>
          <input type="text" placeholder="Coupon CODE" /><br />
          <input type="button" value="APPLY COUPON" />
        </div>
      </div>
    </div>
  </div>
</div>

