.parent {
    position: relative;
    width: 100%;
    height: 20vh;
    background-image: url(https://woodstock.temashdesign.me/electronics/wp-content/uploads/sites/2/2016/03/main-shop-banner.jpg);
    background-attachment: fixed;
}
.parent .child p {
  color: white;
  font-weight: 550;
  font-size: 70px;
}
/* #product-table start */
/* test */
#product-table tr td{
  vertical-align: middle;
}

#product-table tr td img {
   width:100%;
   height: 120px;
}


#product-table tr td input{
  height: 35px;
  text-align: center;
}
/* total-cart start */


.total-cart{
 background-color: #F7F7F7;
 position: relative;
 padding-bottom: 3rem;
 height: 600px;
}

ul li {
  list-style-type: none;
}

.total-cart::before,  .total-cart::after{
  background: linear-gradient(45deg,rgba(0,0,0,0.03) 0,
   rgba(0,0,0,0.03) 25%,
  rgba(0,0,0,0) 25%, rgba(0,0,0,0) 100%),
   linear-gradient(-45deg, rgba(0,0,0,0.03) 0,
    rgba(0,0,0,0.03) 25%,
   rgba(0,0,0,0) 25%, rgba(0,0,0,0) 100%), #ffffff;
   background-position: 50% 50%;
   background-size: 20px 20px;
   position: absolute;
   content: '';
   display: block;
   height: 20px;
   width: 100%;
   box-sizing: border-box;
}

.total-cart::before{
  top: -10px;
  left: 0;
}
.total-cart::after{
  position: absolute;
  bottom: -10px;
  left: 0;
  transform: rotate(180deg);
}

.total-cart h5 {
  padding: 2rem;
  position: relative;
}

/*input[type=text]{
  border-radius: 5px;
  height: 25px;
  border-color: #F7F7F7;
}
*/
.total{
  margin-top: 150px ;
}
#btnone{
  width: 130px;
  margin-top: 70px;
  margin-left: 10px;
  border-radius: 5px;
  height: 55px;
  background-color: #000;
  color: #ffffff;
  border: none;
}

input[type=button]:hover{
  opacity: 0.8;
}


#btntwo{
  border: none;
  width: 170px;
  margin-left: 2px;
  margin-top: 70px;
  border-radius: 5px;
  height: 55px;
  background-color: #6990cb;
 color: #ffffff;
}
/* coupon-box start */

.coupon-box{
  border: 1px dotted rgb(164, 160, 160);
  border-radius: 3px;
  height: 230px;
  text-align: center;
}

.coupon-box h5{
  margin-top: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
}
.coupon-box input{
  margin: 10px;
}

.coupon-box input[type=text]{

  width: 280px;
  border-radius: 5px;
  height: 55px;
  text-align: center;
  background-color: #F7F7F7 ;

}

.coupon-box input[type=button]{
  width: 190px;
  height: 55px;
  background-color: #6990cb;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  border: none;
}

.total-cart h5::after {
  content: "";
  position: absolute;
  width:calc(100% - 4rem);
  height: 2px;
  left: 2rem;
  bottom: 1rem;
  background-color: #abb8c3;

}



