<div class="row f1">
  <div class="col-3">
    <img src="../../assets/images/footer/footer-woodstock-logo@2x-300x91.png" />
    <p class="custom-p">
      Woodstock is a Modern Fully Responsive Retina Ready Woocommerce theme.
      Start your Store right away with Woodstock theme.
    </p>
  </div>
  <div class="col-3">
    <h3>FEATURED PRODUCTS</h3>

    <a href="">
      <img src="../../assets/images/footer/360moto-01-300x300.jpg" />
    </a>
    <ul>
      <li>
        <span>Motorola Moto 360</span><br />
        <span>&#36;299.99</span><br />
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
      </li>
    </ul>

    <a href="">
      <img src="../../assets/images/footer/iphone5c-300x300.jpg" />
    </a>
    <ul>
      <li>
        <span>Motorola Moto 360</span><br />
        <span>&#36;299.99</span><br />
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
      </li>
    </ul>

    <a href="">
      <img src="../../assets/images/footer/iphone6-300x300.jpg" />
    </a>
    <ul>
      <li>
        <span>Motorola Moto 360</span><br />
        <span>&#36;299.99</span><br />
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
      </li>
    </ul>
  </div>

  <div class="col-3">
    <h3>TOP RATED PRODUCTS</h3>
    <a href="">
      <img src="../../assets/images/footer/360moto-01-300x300.jpg" />
    </a>
    <ul>
      <li>
        <span>Motorola Moto 360</span><br />
        <span>&#36;299.99</span><br />
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
      </li>
    </ul>

    <a href="">
      <img src="../../assets/images/footer/iphone5c-300x300.jpg" />
    </a>
    <ul>
      <li>
        <span>Motorola Moto 360</span><br />
        <span>&#36;299.99</span><br />
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
      </li>
    </ul>

    <a href="">
      <img src="../../assets/images/footer/iphone6-300x300.jpg" />
    </a>
    <ul>
      <li>
        <span>Motorola Moto 360</span><br />
        <span>&#36;299.99</span><br />
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
      </li>
    </ul>
  </div>

  <div class="col-3">
    <h3>LATEST NEWS</h3>
    <p class="custom-p2">
      Oh, Princess Leia, are you all right?<br />
      Your time is limited…<br />
      Tour of Envato’s Melbourne Headquarters<br />
      TemashDesign Portfolio
    </p>
  </div>
</div>

<div class="row final">
  <div class="col-6">
    <p>© 2022 - Woodstock Woocommerce Theme. Created by ITI GP Group</p>
  </div>
  <div class="col-6">
    <img src="../../assets/images/footer/payment_cards.png" />
  </div>
</div>
