<div class="row">
  <p>
    Hello <span class="custom-span">mai</span> (not <span class="custom-span">mai</span>? <a class="custom-ancor" routerLink="login">Log out</a>)
  </p>
  <p>
    From your account dashboard you can view your <a class="custom-ancor" routerLink="orders">recent orders</a>,
     manage your <a class="custom-ancor" routerLink="addresses">shipping and billing addresses</a>,
     and <a class="custom-ancor" routerLink="account-details">edit your password and account details</a>.
  </p>
</div>
