<div
  class="d-flex align-items-center justify-content-between p-3 px-md-4 border-bottom mb-3 fixed-top bg-white"
>
  <img src="/assets/images/logo.png" style="max-height: 70px" alt="logo" />
  <!-- mt-2 mt-md-0 ms-md-auto -->
  <nav
    class="d-flex align-items-center justify-content-around text-uppercase"
    style="font-size: larger"
  >
    <a class="me-3 py-2 text-dark text-decoration-none" routerLink="products"
      >Home</a
    >
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Shop</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Contact</a>
  </nav>

  <div class="d-flex align-items-center">
    <a
      class="d-flex align-items-center me-4 position-relative text-decoration-none"
      (click)="userItems(11)"
    >
      <i class="fa fa-shopping-cart fa-2x text-dark"></i>
      <div class="cart-no" *ngIf="itemscount">{{ itemscount }}</div>
    </a>

    <a class="btn btn-outline-secondary me-2" routerLink="login">Login</a>
    <a class="btn btn-outline-secondary me-3" routerLink="signup">Sign In</a>
  </div>
</div>
